{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <button onclick="moveTop()">Top</button>
    <button onclick="moveRight()">Right</button>
    <button onclick="moveLeft()">Left</button>
    <button onclick="moveDown()">Down</button>
    <canvas id="gameCanvas" width="700" height="700" style="border-style: solid"></canvas>
    <p>HELLO</p>hello
    <script src="/javascripts/MapManager.js"></script>
    <script src="/javascripts/SpriteManager.js"></script>
    <script src="/javascripts/Entities.js"></script>
    <script src="/javascripts/Controls.js"></script>

    {#  should be loaded last  #}
    <script src="/javascripts/main.js"></script>
    {# ^should be loaded last^ #}

    <script>
        function moveDown()
        {
            mapManager.view.y -= 10;
            ctx.clearRect(0,0,canvas.width,canvas.height);
            mapManager.draw(ctx);
        }

        function moveTop()
        {
            mapManager.view.y += 10;
            ctx.clearRect(0,0,canvas.width,canvas.height);
            mapManager.draw(ctx);
        }

        function moveRight()
        {
            mapManager.view.x += 10;
            ctx.clearRect(0,0,canvas.width,canvas.height);
            mapManager.draw(ctx);
        }

        function moveLeft()
        {
            mapManager.view.x -= 10;
            ctx.clearRect(0,0,canvas.width,canvas.height);
            mapManager.draw(ctx);
        }

    </script>

{% endblock %}
