{% extends 'layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>

    <canvas id="gameCanvas" width="900" height="900" style="border-style: solid"></canvas>
    <p>HELLO</p>hello
    <script src="/javascripts/GameManager.js"></script>
    <script src="/javascripts/MapManager.js"></script>
    <script src="/javascripts/PhysicManager.js"></script>
    <script src="/javascripts/SpriteManager.js"></script>
    <script src="/javascripts/Entities.js"></script>
    <script src="/javascripts/EventsManager.js"></script>

    {#  should be loaded last  #}
    <script src="/javascripts/main.js"></script>
    {# ^should be loaded last^ #}

    <script>


    </script>

{% endblock %}
