{% extends 'layout.twig' %}

{% block body %}
    <div id="records-info">
        <table id="records-table">
            <tr>
                <th id="hideMe"></th><th width="250">ИМЯ</th><th width="250">РЕКОРД</th>
            </tr>
            {%  for record in recordsPairs %}
            <tr style="border-bottom: black solid">
                <td></td><td>{{ record[0] }}</td><td>{{ record[1] }}</td>
            </tr>
            {% endfor %}
        </table>
        <button style="background-color: red; border: solid black; font-size: xx-large; font-weight: 500; margin: auto" onclick="window.location.href = '/'">
            К ИГРЕ
        </button>
    </div>

    <script>

    </script>
{% endblock %}