body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkslateblue;
}

#records-table
{
  counter-reset: myCounter -1;
}

#records-table tr
{
  counter-increment: myCounter;
}

#records-table tr:before
{
  content: counter(myCounter);
}

#records-info
{

  font-size: xx-large;
  width: 500px;
  margin: auto;
  background-color: darkorchid;
  border: solid black;
  text-align: center;
}

#game-block
{
  width: 1200px;
  margin: auto;

}

#game-info-block
{
  margin-top: 300px;
  margin-left: 400px;
  position: absolute;
  width:400px;
  border-style: solid;
  height: 250px;
  background-color: darkorchid;
  z-index: 10;
}

#game-info-login
{
  display:none;
}

#game-info
{
  margin-top: 20%;
  text-align: center;
  font-size: xx-large;
}

#hud
{
  text-align: center;
  background-color: steelblue;
  font-size: xx-large;
  width:1206px;
  height: 40px;
}

#gameCanvas
{
  border-style: solid;
}

a {
  color: #00B7FF;
}
